@{
    ViewData["Title"] = "Home Page";
}

<h1> GO BIG OR GO HOME</h1>
<h2>mY LITTLE THING</h2>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Test</p>
    <p>Test Number 2</p>
    <p>Test Number 3</p>
    <p>Testing one,two,three hey</p>
    <p>It Worked !!</p>
    <p>Maybe praying will work</p>
    <p>This is the last test</p>
</div>
